/**
 *
 * {{properCase name}}
{{#if wantFlowTyped}}
 * @flow
{{/if}}
 *
 */

import React, {PropTypes} from 'react';
{{#if wantStrings}}
import strings from './strings';
{{/if}}
{{#if wantSCSSModules}}
import styles from './{{properCase name}}.scss';
{{/if}}

const {{properCase name}} = () => {
  return (
    {{#if wantStrings}}
    <div{{#if wantSCSSModules}} className={styles.{{properCase name~}}}{{/if}}>{strings.header.title.message}</div>
    {{else}}
    <div{{#if wantSCSSModules}} className={styles.{{properCase name~}}}{{/if}}>{{{properCase name}}}</div>
    {{/if}}
  );
};

{{properCase name}}.propTypes = {
};

export default {{properCase name}};
